.add_lead_modal_btn {
  background-color: black !important;
}

.update_lead_modal_btn {
  background-color: black !important;
}

.delete_lead_modal_btn {
  background-color: black !important;
}

.textColor {
  color: white;
}